@using ProjectLibrary.Models

@model RequestEntity

<h2>Создание новой заявки</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ShortDescription" class="control-label"></label>
        <input asp-for="ShortDescription" class="form-control" />
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LongDescription" class="control-label"></label>
        <textarea asp-for="LongDescription" class="form-control"></textarea>
        <span asp-validation-for="LongDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubmissionDate" class="control-label"></label>
        <input asp-for="SubmissionDate" class="form-control" />
        <span asp-validation-for="SubmissionDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DueDate" class="control-label"></label>
        <input asp-for="DueDate" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsActive" class="control-label">Актуальность</label>
        <div class="form-check form-switch">
            <input asp-for="IsActive" class="form-check-input" type="checkbox" id="isActiveSwitch" />
            <label class="form-check-label" for="isActiveSwitch">Активна</label>
        </div>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OrganizationId" class="control-label">Организация</label>
        <input asp-for="OrganizationId" class="form-control" />
        <span asp-validation-for="OrganizationId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MilitaryUnitId" class="control-label">Военное подразделение</label>
        <input asp-for="MilitaryUnitId" class="form-control" />
        <span asp-validation-for="MilitaryUnitId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VolunteerId" class="control-label">Волонтер</label>
        <input asp-for="VolunteerId" class="form-control" />
        <span asp-validation-for="VolunteerId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Создать</button>
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</form>
